<div class="footer clearfix">
	<p class="colophon">
		&copy;<BOUCLE_annee(ARTICLES){par date}{0,1}>[(#DATE|annee|!={#VAL{Y}|date}|oui)[(#DATE|annee)]]</BOUCLE_annee> - </B_annee>[(#DATE|annee) ]#NOM_SITE_SPIP | <a rel="contents" href="#URL_PAGE{plan}" class="first"><:plan_site:></a>[
		(#SESSION{id_auteur}|non) | <a href="[(#URL_PAGE{login}|parametre_url{url,#SELF})]" rel="nofollow" class='login_modal'><:lien_connecter:></a>][
		(#AUTORISER{ecrire})| <a href="#EVAL{_DIR_RESTREINT_ABS}"><:espace_prive:></a>][
		(#SESSION{id_auteur}|oui) | <a href="#URL_LOGOUT" rel="nofollow"><:icone_deconnecter:></a>] | 
		<a rel="nofollow" href="#URL_PAGE{contact}"><:contact:></a> |
		<a href="#URL_PAGE{backend}" rel="alternate" title="<:syndiquer_site:>" class="last">RSS&nbsp;2.0</a>
	</p>
	[<small class="generator"><a href="http://www.spip.net/" rel="generator" title="<:site_realise_avec_spip:>" class="generator spip_out">(#CHEMIN{spip.png}|balise_img|inserer_attribut{alt,SPIP})</a></small>]
</div>
<div style="font-size:75%; clear:both; border-top: 1px solid #999; margin: 1em 0 0; padding: 1em 0 0;">
	<:concept_hyperpaysages:>
</div>
			
	[(#REM) Article licence ]
	#SET{regexp_licrub, "^0\. "}
	<BOUCLE_rubrique_licrub(RUBRIQUES) {titre==#GET{regexp_licrub}}>
		#SET{regexp_licart, "^\\[licence\\]"}
		<BOUCLE_article_licart(ARTICLES) {id_rubrique} {lang} {par date} {0, 1} {titre==#GET{regexp_licart}}>
			<div style="font-size:75%; clear:both; border-top: 1px solid #999; margin: 1em 0 0; padding: 1em 0 0;">#TEXTE</div>
		</BOUCLE_article_licart>
	</BOUCLE_rubrique_licrub>		