[(#REM)
	Head standard de toutes les pages ;
	les elements specifiques (title, description) figurent dans chaque squelette
 
]
<meta http-equiv="Content-Type" content="text/html; charset=#CHARSET" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

[(#REM) Lien vers le flux RSS du site ]
[<link rel="alternate" type="application/rss+xml" title="<:syndiquer_site:>" href="(#URL_PAGE{backend})" />]

[(#REM) 
      On appelle les feuilles de style 
      dans l'ordre de la methode daisy http://daisy.tetue.net/img/daisy-nomenclature.png   

      1. Base CSS http://tinytypo.tetue.net/ ]   
[<link rel="stylesheet" href="(#CHEMIN{css/reset.css}|direction_css)" type="text/css" />]
[<link rel="stylesheet" href="(#CHEMIN{css/clear.css}|direction_css)" type="text/css" />]
[<link rel="stylesheet" href="(#CHEMIN{css/font.css}|direction_css)" type="text/css" />]
[<link rel="stylesheet" href="(#CHEMIN{css/links.css}|direction_css)" type="text/css" />]
[<link rel="stylesheet" href="(#CHEMIN{css/typo.css}|direction_css)" type="text/css" />]
[<link rel="stylesheet" href="(#CHEMIN{css/media.css}|direction_css)" type="text/css" />]
[<link rel="stylesheet" href="(#CHEMIN{css/form.css}|direction_css)" type="text/css" />]
[<link rel="stylesheet" href="(#CHEMIN{css/grid.css}|direction_css)" type="text/css" />]
[<link rel="stylesheet" href="(#CHEMIN{css/layout.css}|direction_css)" type="text/css" />]

[(#REM) 2. Style SPIP et ses plugins ]
[<link rel="stylesheet" href="(#CHEMIN{css/spip.css}|direction_css)" type="text/css" />]
#INSERT_HEAD_CSS

[(#REM) 3. Vos feuilles de style pour l'habillage du site a) theme, b) variante, c) specifique ]
[<link rel="stylesheet" href="(#CHEMIN{css/theme.css}|direction_css)" type="text/css" />]
[<link rel="stylesheet" href="(#CHEMIN{css/variante.css}|direction_css)" type="text/css" />]
[<link rel="stylesheet" href="(#CHEMIN{css/perso.css}|direction_css)" type="text/css" />]

[(#REM)
	Balise permettant aux plugins d'inserer des appels javascript ;
	4. C'est ici que SPIP va inserer l'appel de la librairie jQuery
	5. Et appeler a la fin compacte_head pour agreger et compacter tout le head dans des fichiers statiques si l'option est cochee dans Configuration
]
#INSERT_HEAD

[(#REM) 6. Vos scripts ]
[(#REM) Ces javascripts vont seulement dans les articles ]
<BOUCLE_js_css_hp(ARTICLES) {id_article}>
<?php
    $jpe_start_position = 0; $jpe_show_cap = false; $jep_nort_pixel = 0;
    $jpe_params_user = str_replace(' ', '', '#SURTITRE');
	$jpe_param_user_array = explode(',',  '#SURTITRE');
    $jep_nb_param_user = count($jpe_param_user_array);
    if ($jpe_param_user_array['0'] != '' and $jep_nb_param_user > 0) {$jpe_start_position = (int) $jpe_param_user_array['0'];}
    if ($jpe_param_user_array['1'] == '1' and $jep_nb_param_user > 1) {$jpe_show_cap = true;}
    if ($jpe_param_user_array['2'] != '' and $jep_nb_param_user > 2) {$jep_nort_pixel = (int) $jpe_param_user_array['2'];}
?>
    #SET{jpe_sp, <?php echo $jpe_start_position; ?>}
    #SET{jep_np, <?php echo $jep_nort_pixel; ?>}

    
[<script src="(#CHEMIN{js/script.js})" type="text/javascript"></script>]
	[<link rel="stylesheet" type="text/css" href="(#CHEMIN{css/jquery.panorama.enhanced.css})" media="screen" />]
	[<link rel="stylesheet" type="text/css" href="(#CHEMIN{css/query.fancybox-1.3.1.css})" media="screen" />]
	[<script type="text/javascript" src="(#CHEMIN{js/query.min.js})"></script>]
	[<script type="text/javascript" src="(#CHEMIN{js/jquery.panorama.enhanced.js})"></script>]
	<script type="text/javascript">
		$(document).ready(function(){
			$("img.advancedpanorama").panorama({
                /* #### Récuperation dynamique de start_position, show_cap, north_pixel DEBUT !!! NE PAS MODIFIER !!! ### */
                // A partir du surtitre de l'article
				start_position: #GET{jpe_sp},
<?php if ($jpe_show_cap) { ?>
                show_cap: true,
<?php } else { ?>
                show_cap: false,
<?php } ?>
                north_pixel: #GET{jep_np},
                /* #### Récuperation dynamique de start_position, show_cap, north_pixel FIN !!! NE PAS MODIFIER !!! ### */
				viewport_width: 650,
		        auto_start: true,
				speed: 30000,
                speed_factor: 2,
                speed_min: 200000,
                speed_max: 2000,
                speed_alert: true,
				direction: 'left',
				control_display: 'auto',
				mode_360: true,
				/* #### !!! NE PAS MODIFIER !!! ### Les modifications ou traductions ci-dessous se font dans */
				/* squelettes/lang/local_xx.php ou xx = code pays à la norme ISO 3166-1 alpha-2 (fr, en, it, ...) */
                speed_min_alert_message: "<:vitesse_minimum_atteinte:>",
                speed_max_alert_message: "<:vitesse_maximum_atteinte:>",
				false_cap_display: "<:afficher_cap:>",
                false_cap_title: "<:infobulle_arreter_defilement_et_afficher_orientation:>",
                true_cap_title: "<:infobulle_reprendre_defilement:>",
                sector: "<:secteur:>",
                north: "<:nord:>",
                northeast: "<:nord_est:>",
                east: "<:est:>",
                southeast: "<:sud_est:>",
                south: "<:sud:>",
                southwest: "<:sud_ouest:>",
                west: "<:ouest:>",
                northwest: "<:nord_ouest:>",
                unknow: "<:inconnu:>",
                //Controls tooltips
                slower: "<:moins_vite:>",
                to_the_left: "<:vers_la_gauche:>",
                pause: "<:pause:>",
                to_the_right: "<:vers_la_droite:>",
                faster: "<:plus_vite:>"
				/* #### !!! NE PAS MODIFIER !!! ### Les modifications ou traductions ci-dessus se font dans */
				/* squelettes/lang/local_xx.php ou xx = code pays à la norme ISO 3166-1 alpha-2 (fr, en, it, ...) */			});
		});
	</script>
	[<script type="text/javascript" src="(#CHEMIN{js/cvi_text_lib.js})"></script>]
	[<script type="text/javascript" src="(#CHEMIN{js/jquery.advanced-panorama.enhanced.js})"></script>]
	[<script type="text/javascript" src="(#CHEMIN{js/jquery.flipv.js})"></script>]
	[<script type="text/javascript" src="(#CHEMIN{js/query.fancybox-1.3.1.pack.js})"></script>]
</BOUCLE_js_css_hp>

[(#REM) Fierement fabrique avec SPIP ]
<meta name="generator" content="SPIP[ (#SPIP_VERSION)]" />

[(#REM) Favicon ]
[<link rel="icon" type="image/x-icon" href="(#CHEMIN{images/logo-hp-mini.jpg})" />
[<link rel="shortcut icon" type="image/x-icon" href="(#CHEMIN{images/logo-hp-mini.jpg})" />]]

[(#REM) meta robots ]
[<meta name="robots" content="(#ENV{robots})" />]
