<div class="clearfix header">
	[(#ENV{home,'non'}|=={oui}|?{
	<h1 class="spip_logo_site">[(#LOGO_SITE_SPIP|image_reduire{224,96})]#NOM_SITE_SPIP</h1>
	[<div class="chapo">(#DESCRIPTIF_SITE_SPIP)</div>]
	,
	<strong class="h1 spip_logo_site"><a rel="start home" href="#URL_SITE_SPIP/" title="<:accueil_site:>">[(#LOGO_SITE_SPIP
            |image_reduire{224,96})]#NOM_SITE_SPIP</a></strong>
	[<div class="chapo">(#DESCRIPTIF_SITE_SPIP)</div>]
	})][<p id="slogan">(#SLOGAN_SITE_SPIP)</p>][(#MENU_LANG)]
	<div id="socialtags"></div>
</div>