<B_nav>
<div class="nav clearfix[ (#TOTAL_BOUCLE|=={1}|oui)none]" id="nav">
	<ul>
		<BOUCLE_nav(RUBRIQUES) {racine} {par num titre, titre} {titre!==^0\. }>
		<li class="nav-item[ (#EXPOSE)][ (#COMPTEUR_BOUCLE|=={1}|oui)first][ (#COMPTEUR_BOUCLE|=={#TOTAL_BOUCLE}|oui)last]"><a href="#URL_RUBRIQUE">#TITRE</a></li>
		</BOUCLE_nav>
	</ul>
</div>
</B_nav>