
		BODY {background-color: #FFFDCE;}

		DIV#panoramique {
			text-align: center;
			margin-bottom: 10px;
		}
		DIV.panorama-viewport {
			margin: auto;
			/* border: 10px solid #FFF !important; */
			box-shadow: 5px 7px 5px 2px rgba(85, 85, 85, 0.3);
		}
		DIV#boussole, DIV#viseur {
			background-color: #eed;
			border-radius: 0.25em 0.25em 0em 0em;
		}
		DIV#boussole {
			border-radius: 0.25em 0.25em 0em 0em;
		}
		DIV#viseur {
			border-radius: 0em 0em 0.25em 0.25em;
			margin-bottom: 10px;
		}
		DIV.minipano {
			text-align: center;
		}

		P {
			text-align: justify;
		}
		
		input, textarea, select, button {
			background: #F1EC80 none repeat scroll 0 0;
			border-radius: 5px;
		}
		
        /* Format tooltips (attribut data-title) */
        /* Ne fonctionne pas dans le panorama actuellement */
        [data-title]{
            position:relative;
        }   
        [data-title]:after{
            content:attr(data-title);
            /* font-weight: bold; */
			font-size: 90%;
            color:#fff;
            /* background:#3F0E63; */
			background-color: #222;
			color: #fff;
            padding:5px;
            position:absolute;
            /*left:-9999px;*/
            opacity:0;
            bottom:130%;
			box-sizing: border-box;
			border-radius: 0.25em;
            white-space:nowrap;
        }
        [data-title]:hover:after{
            left: 100px;
            opacity: 0.5;
        }

		/* surcharges de plugins spip */
		DIV.socialtags {
			display: inline;
			float: right;
			height: 0px;
		}

		DIV.cs_sommaire{
			position: relative;
		}

		DL.faq.js DT {
			background-color: #cbdaf1;
			border-radius: 0.25em;
			color: #3f0e63;
		}
		
		DL.faq DD {
			background-color: #fffea3;
			border-radius: 0.25em;
		}
	